/* Define base font size */
html {
    font-size: 16px; /* Adjust as needed */
}

/* Media query for smaller devices */
@media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */

    /* Resetting font sizes */
    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }

    p {
        font-size: 16px;
        line-height: 20px;
    }

    /* Adjustments for specific elements */
    .order-now h1 {
        font-size: 60px;
        line-height: 70px;
    }
}

/* Media query for even smaller devices if needed */
@media only screen and (max-width: 480px) {
    /* Additional adjustments for very small screens */
    /* You can add more specific adjustments here if necessary */
}
